<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineExamProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentRegistrationServlet</display-name>
    <servlet-name>StudentRegistrationServlet</servlet-name>
    <servlet-class>com.StudentRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegistrationServlet</servlet-name>
    <url-pattern>/StudentRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>com.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegistrationServlet</display-name>
    <servlet-name>AdminRegistrationServlet</servlet-name>
    <servlet-class>com.AdminRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegistrationServlet</servlet-name>
    <url-pattern>/AdminRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeforeExamServlet</display-name>
    <servlet-name>BeforeExamServlet</servlet-name>
    <servlet-class>com.BeforeExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeExamServlet</servlet-name>
    <url-pattern>/BeforeExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamServlet</display-name>
    <servlet-name>ExamServlet</servlet-name>
    <servlet-class>com.ExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamServlet</servlet-name>
    <url-pattern>/ExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTestServlet</display-name>
    <servlet-name>CreateTestServlet</servlet-name>
    <servlet-class>com.CreateTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTestServlet</servlet-name>
    <url-pattern>/CreateTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertQuestionServlet</display-name>
    <servlet-name>InsertQuestionServlet</servlet-name>
    <servlet-class>com.InsertQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQuestionServlet</servlet-name>
    <url-pattern>/InsertQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuestionServlet</display-name>
    <servlet-name>DeleteQuestionServlet</servlet-name>
    <servlet-class>com.DeleteQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestionServlet</servlet-name>
    <url-pattern>/DeleteQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSubjectServlet</display-name>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <servlet-class>com.DeleteSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <url-pattern>/DeleteSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQServlet</display-name>
    <servlet-name>UpdateQServlet</servlet-name>
    <servlet-class>com.UpdateQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQServlet</servlet-name>
    <url-pattern>/UpdateQServlet</url-pattern>
  </servlet-mapping>
</web-app>